{% macro clients() %}
    <!-- Clients Section Start -->
    <div id="clients" class="section-padding bg-gray">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our partners</h2>
                <p>We have proudly helped and guided organisations to achieve outstanding results</p>
            </div>
            <div class="row text-align-">
                <div class="col-lg-3 col-md-3 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="client-item-wrapper">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/clients/img1.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="client-item-wrapper">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/clients/img2.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 wow fadeInUp" data-wow-delay="0.9s">
                    <div class="client-item-wrapper">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/clients/img3.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 wow fadeInUp" data-wow-delay="1.2s">
                    <div class="client-item-wrapper">
                        <img class="img-fluid" src="{{ url_for('static', filename='img/clients/img4.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Clients Section End -->
{% endmacro %}
