{% macro team() %}
    <!-- Team Section Start -->
    <section id="team" class="section-padding text-center">
        <div class="container">
            <div class="section-header text-center">
                <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Core team</h2>
                <p>
                    Vaerens core team consists of founder Mit Koevoets, 15 years of programming and software
                    architecture experience;
                    Mattia Houtenrboek

                </p>
            </div>
            <div class="row">

                {#                <div class="col-sm-6 col-md-6 col-lg-4">#}
                {#                    <!-- Team Item Starts -->#}
                {#                    <div class="team-item text-center wow fadeInRight" data-wow-delay="0.6s">#}
                {#                        <div class="team-img">#}
                {#                            <img class="img-fluid" src="{{ url_for('static', filename='img/team/dennis.jpeg') }}"#}
                {#                                 alt="">#}
                {#                            <div class="team-overlay">#}
                {#                                <div class="overlay-social-icon text-center">#}
                {#                                    <ul class="social-icons">#}
                {#                                        <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                {#                                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                {#                                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>#}
                {#                                    </ul>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="info-text">#}
                {#                            <h3><a href="#">Dennis van Muijen</a></h3>#}
                {#                            <p>Chief Data Scientist</p><br>#}
                {#                            <p>#}
                {#                                Dennis van Muijen studied at Wageningen University, with a B.Sc. in Biotechnology and a#}
                {#                                M.Sc.#}
                {#                                in Plant Biotechnology - specialization Molecular Breeding and Pathology cum laude.#}
                {#                                Following an internship in quantitative genetics at <i>Rijk Zwaan</i>, he continued#}
                {#                                working there as a Data Scientist over the next 5,5 years; developing computer vision#}
                {#                                deep learning#}
                {#                                projects and deploying algorithmic software analysis solutions within the company.#}
                {#                                In 2018 Dennis left <i>Rijk Zwaan</i> to work as an independent data science consultant#}
                {#                                working for .. companies ... among other.#}
                {#                                In early 2020 Dennis joins Vaerens to lead the data science efforts in the team.#}
                {#                            </p>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <!-- Team Item Ends -->#}
                {#                </div>#}

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <!-- Team Item Starts -->
                    <div class="team-item text-center wow fadeInRight" data-wow-delay="0.6s">
                        <div class="team-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/team/mit_koevoets.jpg') }}"
                                 alt="">
                            <div class="team-overlay">
                                <div class="overlay-social-icon text-center">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-text">
                            <h3><a href="#">Mit Koevoets</a></h3>
                            <p>Founder & CEO</p><br>
                            <p>
                                Born in Rotterdam; Mit Koevoets grew up in the <i>Betuwe</i>, the heart of outdoor fruit
                                cultivation in the
                                Netherlands;
                                where growing food and horticulture practices are part of the fabric of every day life.
                                At the Royal Academy of Arts in The Hague, he studied programming, electronics and
                                3d modelling; collaborating with the TU Delft on environmental modelling and working on
                                various
                                projects developing sound recognition and self-learning genetic algorithms over the
                                years at the academy.
                                After getting his BA, he spent a year working as a freelance 3d modeller in the 3d
                                printing
                                industry and then moved to Italy for 2,5 years to study classical arts.
                                The following 7 years he built a career as an established software engineer, focusing on
                                web technologies
                                initially and then moving on to machine learning engineering, working on a contract for
                                Apple in 2018 and ING in 2019.
                                In 2020 Mit founded Vaerens with an ambition to develop sustainable cultivation methods
                                for agriculture driven by
                                data and plant science.
                            </p>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                    <!-- Team Item Starts -->
                    <div class="team-item text-center wow fadeInRight" data-wow-delay="0.3s">
                        <div class="team-img">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='img/team/mattia_col.jpg') }}" alt="">
                            <div class="team-overlay">
                                <div class="overlay-social-icon text-center">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info-text">
                            <h3><a href="#">Mattia Houtenbrink</a></h3>
                            <p>Horticultural Engineer</p><br>
                            <p>
                                Mattia Houtenbrink was born in the port city Rotterdam, neighboring
                                the famous <i>Westland</i>, the cradle of Dutch horticulture, to the direct west.
                                Over the past 7 years, Mattia has worked passionately to learn everything he can
                                about growing cannabis in controlled environments. After being rejected from Horticural
                                College for being to open about his desire to have a career in the legal cannabis
                                greenhosue industry,
                                he followed an internship at Wageningen University to learn more about greenhouse
                                growing.
                                Mattia started 010Genetics in 2019 with the intention to promote his cannabis genetics
                                library. He joined Vaerens in early 2020 as a horticultural engineer driven by his
                                ambition
                                to be part of a company where he can both apply his expertise in cannabis cultivation
                                and have
                                an opportunitiy to work with other crops besides cannabis. He brings on board among
                                others his
                                excellent insights into cultivar breeding, facility design and plant training.
                            </p>
                        </div>
                    </div>
                    <!-- Team Item Ends -->
                </div>

                {#          <div class="col-sm-6 col-md-6 col-lg-4">#}
                {#            <!-- Team Item Starts -->#}
                {#            <div class="team-item text-center wow fadeInRight" data-wow-delay="1.2s">#}
                {#              <div class="team-img">#}
                {#                <img class="img-fluid" src="{{ url_for('static', filename='img/team/tim_bervoets.png') }}" alt="">#}
                {#                <div class="team-overlay">#}
                {#                  <div class="overlay-social-icon text-center">#}
                {#                    <ul class="social-icons">#}
                {#                      <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                {#                      <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                {#                      <li><a href="#"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>#}
                {#                    </ul>#}
                {#                  </div>#}
                {#                </div>#}
                {#              </div>#}
                {#              <div class="info-text">#}
                {#                <h3><a href="#">Tim Bervoets</a></h3>#}
                {#                <p>Data Scientist</p>#}
                {#              </div>#}
                {#            </div>#}
                {#            <!-- Team Item Ends -->#}
                {#          </div>#}
                {##}
            </div>
        </div>
    </section>
{% endmacro %}
